<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron" style="background-color:darkgoldenrod" >
        <h2>The World of Sweets</h2>
        <img src="https://bit.ly/2ZY5FfN" alt="sweets" width=280>
        <img src="https://5.imimg.com/data5/DN/IX/MY-2378194/selection_372-500x500.png" alt="sweets" width=300>
        <img src="https://4.bp.blogspot.com/-YzDszbqF0C0/UuO07siTkMI/AAAAAAAACFc/9R2e4gwU7cc/s1600/DSC03465.JPG" alt="sweets" width=400>
        
      </div>
      <footer style="font-style: italic;color: darkorange;">
        See the server console for the supported end-points.
      </footer>

    </div>
  </body>
</html>
